
<h2>Add Address for <%= @user.first_name %></h2>

<div class="row">
	<%= simple_form_for(@addr, url: user_addr_path(@user)) do |f| %>
	 <div class="row text-right">
	 	<div class="col-md-8 "><%= f.input :street %></div>
	  <div class="col-md-8 "><%= f.input :city %></div>
	  <div class="col-md-8 "><%= f.input :state %></div>
	  <div class="col-md-8 "><%= f.input :zip %></div>
	  <div class="col-md-12 text-center"><%= f.button :submit, "Add Address" %></div>
	</div>
	<% end %>
	</div>